
.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 20px;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
#container {
    background-color: hsl(30, 38%, 92%);
    width: 1024px;
    margin: auto;
}
.box-container {
    width: 50%;
    padding: 3.125rem;
    margin-left: 11.25rem;
}
.image-box{
    width: 50%;
    background-image: url(../images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
.flexbox {
    display: flex;
}
.text-box {
    padding: 1.25rem;
    width: 45%;
    background-color: hsl(0, 0%, 100%);
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;    
}
.perfume-heading {
    letter-spacing: 0.5rem;
    color: hsl(228, 12%, 48%);
    font-style: fraunces;
    font-family: 'Montserrat', sans-serif;
}
.perfume-title {
    font-weight: 700 ;
}
.perfume-desc {
    color: hsl(228, 12%, 48%);
    font-size: clamp(0.9rem, 1vw, 1rem);
    font-weight: 500;
    font-style: fraunces;
    font-family: 'Montserrat', sans-serif;
}
.prices {
    margin-top: 0.78rem;
}
.real-price {
    font-style: fraunces;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
    color:  hsl(158, 36%, 37%);
    font-weight: 700;
}
.discounted-price {
    margin-left: 0.9rem;
    color: hsl(228, 12%, 48%);
}
.button {
    background-color: hsl(158, 36%, 37%) ; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(1rem, 1vw, 1rem);
    font-style: fraunces;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.6rem;
    width: 70%;
    margin: auto;
    margin-top: 0.7rem;
}
.icon-style {
    margin-right: 0.3rem;
    margin-top: 0.13rem;
}

@media screen and (max-width: 375px) {

    .image-box{
        width: 310px;
        background-image: url(../images/image-product-mobile.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 0;
        height: 54.75vh;
    }

    .text-box {
        width: 270px;
        background-color: hsl(0, 0%, 100%);
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
    }
    .box-container{
        margin-left: 0;
        padding: 1.5rem;
    }
    
    .flexbox {
        display: block;
    }
    .attribution{
        text-align: left;
    }
    #container {
        background-color: hsl(30, 38%, 92%);
        width: 375px;
        margin: auto;
    }
}
    
    
