*{
    font-family: 'Montserrat', sans-serif;
   
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
.box-container {
    background-color: hsl(30, 38%, 92%);
}
.box-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    padding-left: 320px;
}
.flexbox {
    display: flex;
}
.text-box .container {
    padding: 20px;
    width: 30%;
    background-color: hsl(0, 0%, 100%);
    min-height: 63vh;

}